.posts {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
}

.info-post {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.name-user {
    display: flex;
    flex-direction: row;
}

.content-post-detail {
    font-size: 16px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
}

.footbar-posts {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}